*{

    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


.heading{
    text-align: center;
    /* margin-top: 30px; */
    padding-top: 60px;  
}

.heading h2{
    font-size: 50px;
    color:#543028;
    font-size: 70px;
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: -10px 10px 15px rgb(122, 120, 120);
}
.heading img{
    width: 50px;
    height: 50px;
    margin-top: 10px;
}


.navbar{

    width: 100%;
    height: 80px;
    background-color: #000000c3;
    /* position: fixed;
    top: 0;
    z-index: 1000; */
}

label.logo{
    
    color: rgb(255, 255, 255);
    font-size: 50px;
    line-height: 80px;
    padding: 10px 100px;
    display:inline;
    /* margin-left: 7%; */
    /* background-color: antiquewhite; */
   
}

.logo-img{
    width: 50px;
    height: 50px;
    margin-top: 10px;
}


/* .logo h1{

    width: 250px;
    font-size: 35px;
    color: rgb(75, 6, 6);
    margin-top: -0px;
    margin-left: 15px;
} */



.navbar ul{
    float: right;
    margin-right:60px ;
}

.navbar ul li{
    display: inline-block;
    font-size: 25px;
    line-height: 80px;
}
.navbar ul li a{
    height: 70px;
    text-align: center;
   color: #fcfcfc;
    padding: 20px 30px;
    font-weight: 500;

}
/* a:hover{
    background-color: #91918f; 
    color: white;
    transition: .5s;
} */

.checkbtn{
    color: white;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;

}

#check{
    display: none;
}


.main-block{
    width: 100%;
    height: 700px;
    background-image: url(Images/bg-2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.main-block .landing-1{
    width: 28%;
    height: 650px;
    position: absolute;
    top: 5%;
    left: 0%;
}

.main-block .landing-2{
    width: 50%;
    height: 500px;
    position: absolute;
    top: 0;
    right:0%
}
.main-block h1{
    position: absolute;
    /* top: 45%; */
    top:30%;
    left: 23%;
    /* left: 35%; */
    /* color: #8a482e; */
    color: #543028;
    font-size: 90px;
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    text-shadow: -10px 10px 15px rgb(122, 120, 120);
}
.main-block p{
    width: 700px;
    position: absolute;
    /* top: 32%; */
    left: 45%;
    top: 60%;
    /* color: #8a482e; */
    color: #c19d56;
    font-size: 38px;
    font-family: "Cormorant", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: italic;
    /* text-shadow: -10px 10px 15px rgb(122, 120, 120); */
}
.main-block p i{
    color: #c19d56;
    font-size: 30px;
    
}

.transition-2{

    width: 100%;
    height: 380px;
    background-image: url(Images/bgpromo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    background-attachment: fixed;

    position: relative;

}



.menu-block{
    width: 100%;
    margin: auto;
    /* background-color: #2dbba4; */
    height: 880px;
    background-image: url(Images/bg-2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    position: relative;
    
}
.block-images{
    width: 250px;
    height: 250px;
    /* background-color: #2dbba4; */
    position: absolute;
    top: -15%;
    left: 3%;
}


.menu-cards-1{
    width: 85%;
    margin: auto;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;

}

.menu-1{
    width: 30%;
    height: 280px;
    /* background-color: #49b57a; */
    position: relative;
    font-family: Cormorant;
    font-style: italic;
}

.menu-1 a{
    color: black ;
}

.menu-img{
    width: 100%;
    height: 200px;
    /* background-color: #543028; */
}
.menu-img img{
    width: 100%;
    height: 200px;
    border-radius: 20px;
    /* border: 2px solid #543028; */
}

.menu-img  :hover{
  
    border: 3px solid #543028;
}


.menu-title{
    font-family: "Cormorant", serif;
    /* font-optical-sizing: auto; */
    font-weight: 400;
    font-style: italic;
}
.menu-title:hover{
    color: #cd9122;
}
.menu-title-1 {
    position: absolute;
    top: 78%;
    left: 38%;
}

.menu-title-2{
    position: absolute;
    top: 78%;
    left: 35%;
}

.menu-title-3 {
    position: absolute;
    top: 78%;
    left: 30%;
}

.menu-title-4{
    position: absolute;
    top: 78%;
    left: 30%;
}

.menu-title-5 {
    position: absolute;
    top: 78%;
    left: 35%;
}

.menu-title-6 {
    position: absolute;
    top: 78%;
    left: 20%;
}


.menu-cards-2{
    width: 85%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}


@media screen and (max-width:480px){


   
    .navbar{
        width: 100%;
        height: 65px;
    }
    label.logo{
        font-size: 25px;
        padding-left: 15px; 
       
    }
    .logo-img{
        width: 30px;
        height: 30px;
        margin-top: 10px;
    }

    .checkbtn{
        display: block;
    }

    ul{
        position: fixed;
        width: 100%;
        height: 560px;
        background-image: url(Images/bg-2.png);
 
        background-repeat: no-repeat;
        background-position:center;
        background-size: cover;
        z-index: 1000;
        
        top: 65px;
        left: -100%;
        text-align: center;
    }

    .navbar ul li{
        display: block;
        margin: 10px 0;
        /* line-height: 30px; */
    }

    .navbar ul li a{
        font-size: 25px;
        padding-top: 26px;
        color: #543028;
        font-weight: bold;
    }    

    /* a:hover{
        background: none;
        background-color: #91918f; 
        color: white;
        transition: .5s;
       
    } */

    #check:checked ~ ul{
        left: 0;
        
    }

    .main-block{
        width: 100%;
        height:560px;
    }

    .main-block .landing-1{
        width: 150px;
        height: 400px;
        position: absolute;
        top: 33%;
        left: 0%;
    }

    .main-block .landing-2{
        width: 280px;
        height: 230px;
        position: absolute;
        
        right:0%
    }

    .main-block h1{
        position: absolute; 
        top:41%;
        left: 23%;
        font-size: 30px;
        
    }

    .main-block p{
        width: 280px;
        position: absolute;
        left: 30%;
        top: 51%;
        font-size: 20px;
        
    }

    .transition-2{

        width: 100%;
        height: 200px;
        background-image: url(Images/bgpromo.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;
        background-attachment: fixed;

    
    }

    .block-images{
        width: 90px;
        height: 90px;
        top: -6%;
        left: 10px;
    }
    .block-images img{
        width: 100%;
        height: 100%;
    }

    .heading h2{
        font-size: 40px;
    }

    .heading img{
        width: 30px;
        height: 30px;
        margin-top: 10px;
    }
}



























